<html>
  <head>
    <meta charset="utf-8" />
    <title>Confirmation d'inscription</title>
  </head>
  <body>
    <h1>Bienvenue sur Wizi Learn, {{name}} !</h1>
    <p>Votre inscription a été enregistrée avec succès.</p>
    <p>Vous pouvez maintenant vous connecter à votre espace stagiaire.</p>
    <p>À bientôt !</p>
  </body>
</html>